@using MecaAgenda.Application.DTOs
@{
    ViewData["Title"] = "Home Page";
    
    var branches = ViewBag.Branches as ICollection<BranchDTO>;
}

<head>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;
        }

        .card {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

            .card h3 {
                margin-top: 0;
            }

            .card p {
                color: #666;
            }
    </style>
</head>

<header>
    <h1>Welcome to Revved Up Repairs</h1>
    <p>Your one-stop shop for quality car parts and reliable car maintenance services.</p>
</header>

@if (branches != null && branches.Count > 0)
{
    <section id="branches">
        <h2>Our Branches</h2>
        <div class="card-container">
            @foreach (var branch in branches)
            {
                <div class="card">
                    <h3>@branch.Name</h3>
                    <p>@branch.Address</p>
                    <p>@branch.Phone</p>
                    <p>@branch.Email</p>
                </div>
            }
        </div>
    </section>
    <br />
}