@model IEnumerable<MecaAgenda.Application.DTOs.ServiceDTO>

@{
    ViewData["Title"] = "Service List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-sm-2 mx-2 mb-2">
        <label class="control-label">Name</label>
        <input type="text" id="serviceName" />
    </div>
</div>

<button class="btn btn-secondary" id="filterButton" class="mt-2">Filter</button>

<div id="serviceTableContainer"></div>

@section Scripts {
    <script>
        $(document).ready(function () {

            function loadTable(serviceName) {
                $.ajax({
                    url: '@Url.Action("GetServices")',
                    type: 'GET',
                    data: { serviceName: serviceName },
                    success: function (data) {
                        $('#serviceTableContainer').html(data);
                    },
                    error: function () {
                        alert('Error retrieving data.');
                    }
                });
            }

            loadTable(null);

            $('#filterButton').click(function () {
                var serviceName = $('#serviceName').val() == "" ? null : $('#serviceName').val();

                loadTable(serviceName);
            });
        });
    </script>
}
