@model MecaAgenda.Models.LoginViewModel;
@{
    ViewData["Title"] = "Log In";
    Layout = "_LayoutLogin";
}

<div class="my-5">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="d-flex align-items-center justify-content-center">
            <div class="card col-sm-10 col-md-8 col-lg-6">
                <div class="card-header">
                    Welcome!
                </div>

                <div class="card-body">
                    <h5 class="card-title ">Log In</h5>
                    <br/>
                    <div class="text-center">
                        <img src="~/images/logo.png" alt="Revved Up Repairs Logo" />
                    </div>
                    <br/>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-md-2"></label>
                        <div class="col-md-12">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label col-md-2"></label>
                        <div class="col-md-12">
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-10 mt-4">
                            <button type="submit" id="btnGuardar" class="btn btn-primary">Login</button>
                            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Go Back</a>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    Revved Up Repairs
                    @{
                        if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Message
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>